.poster {
  background: url("../img/nice_600.jpg") white no-repeat right bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.kuka {
  width: 250px;
  height: 45px;
  background: url("../img/kuka.png");
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media all and (min-width: 601px) {
  .poster {
    background-image: url("../img/nice_1024.jpg");
  }
  .kuka {
    width: 375px;
    height: 67px;
  }
}
@media all and (min-width: 1025px) {
  .poster {
    background-image: url("../img/nice_1536.jpg");
  }
  .kuka {
    width: 500px;
    height: 89px;
  }
}
@media all and (min-width: 1537px) {
  .poster {
    background-image: url("../img/nice_2048.jpg");
  }
}
@media all and (min-width: 2049px) {
  .poster {
    background-image: url("../img/nice.jpg");
  }
}
