doctype html
html
    head
        link(rel="stylesheet" href="css/pure.min.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=David+Libre:400,700")
    body
        .poster
        .kuka
        script(src="js/app.js")
